*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFB6C1;
    overflow: hidden;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #B30E66;
	clip-path: circle(50% at 90% 110%);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
header .logo{
    position: relative;
    max-width: 130px
}
header .navegation ul{
    position: relative;
    display: flex;
}
header .navegation  li{
    list-style: none;
}
header .navegation li a{
    display: inline-block;
    color: #B30E66;
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
    margin-left: 80px;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
	
}
.content .text{
    position: relative;
    max-width: 600px;
    margin-right: 10px;
	
}
.content .text h2{
    color:#B30E66;
    font-size: 5em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
}

.content .text p{
    color:#B30E66;
}
.content .text a:hover{
    transform: translateY(-10px);
}

.boxImg{
    position: absolute;
    right: 0;
    bottom: -255px;
}
.boxImg img{
    width: 560px;
}
.boxImg .img1{
    transform: rotate(0 deg);

}


